<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Marcelino Alberdi Pereira">
    <link rel="icon" href="../../favicon.ico">

    <title>BGPlays - {% block title %}{% endblock %}</title>

    <script type="text/javascript" src="/static/jquery.min.js"></script>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>
<body role="document" style="padding-top: 70px;">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if request.path == '/player' %}active{% endif %}"><a href="/player">Players</a></li>
                <li class="{% if request.path == '/game' %}active{% endif %}"><a href="/game">Games</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% block content %}{% endblock %}
</body>
</html>
