{% extends "bgplays/base.html" %}
{% load render_table from django_tables2 %}
{% load gravatar %}

{% block title %}{{ game.name }}{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-3 col-lg-3" align="center">{{ game.name|gravatar:200 }}</div>
            <div class="col-md-9 col-lg-9">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ game.name }}</td>
                    </tr>
                    <tr>
                        <td>Total plays</td>
                        <td>{{ game.plays }}</td>
                    </tr>
                    <tr>
                        <td>Last played</td>
                        <td>{{ game.last_played }}</td>
                    </tr>
                    {% if median_points %}
                        <tr>
                            <td>Median points</td>
                            <td>{{ median_points|floatformat:-2 }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            {% if game_players %}
                {% render_table game_players %}
            {% endif %}
            {% if faction_plays %}
                {% render_table faction_plays %}
            {% endif %}
        </div>
    </div>
{% endblock %}