<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BGPlays - {{ player.name }}</title>

    <script type="text/javascript" src="/static/jquery.min.js"></script>

    {% load gravatar %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>

<body role="document">

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ player.name }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3" align="center">{{ player.name|gravatar:200 }}</div>
                        <div class="col-md-9 col-lg-9">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>{{ player.birth_date }}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{ player.get_gender_display }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                {% if most_played_games %}
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th colspan="2">Most played games</th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Game</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for game in most_played_games %}
                                                <tr>
                                                    <td>{{ game.count }}</td>
                                                    <td>{{ game.name }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                                {% if most_played_mates %}
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th colspan="2">Most played mates</th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for player in most_played_mates %}
                                                <tr>
                                                    <td>{{ player.count }}</td>
                                                    <td>
                                                        <a href="{% url 'player' player_name=player.name %}">{{ player.name }}</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

