{% extends "bgplays/base.html" %}
{% load render_table from django_tables2 %}
{% load gravatar %}

{% block title %}{{ player.name }}{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-3 col-lg-3" align="center">{{ player.name|gravatar:200 }}</div>
            <div class="col-md-9 col-lg-9">
                <table class="table">
                    <tbody>
                    {%  if player.birth_date %}
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{ player.birth_date }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Gender</td>
                        <td>{{ player.get_gender_display }}</td>
                    </tr>
                    <tr>
                        <td>Total plays</td>
                        <td>{{ player.plays }}</td>
                    </tr>
                    <tr>
                        <td>Last played</td>
                        <td>{{ player.last_played }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            {% if player_games %}
                {% render_table player_games %}
            {% endif %}
            {% if player_mates %}
                {% render_table player_mates %}
            {% endif %}
        </div>
    </div>
{% endblock %}